.header.content {
    display: none !important;
}
.authentication-wrapper {
    display: none;
}
main#maincontent {
    padding-top: 50px;
}
section.gmt-element.gmt-element-a233270.gmt-section-boxed.gmt-section-height-default.gmt-section-height-default.gmt-section.gmt-top-section {
    display: none;
}

div#shipping-method-buttons-container {
    margin: 0px;
}
#shipping-method-buttons-container span {
    font-size: 20px;
    padding: 25px;
}
.step-title {
    text-align: left;
}
.order-tracker{display:flex}
.step-title{text-align:left;}
.items-in-cart strong {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.product-item-name {
    font-size: 11px !important;
    font-weight: 500 !important;
}
.details-qty .label {
    font-size: 11px;
    font-weight: 700;
}
.details-qty .value {
    font-size: 11px; 

}
.product-item:last-child {
    padding-bottom: 6px;
}
